**/*.gz
*.hdf5
**/*.hdf5
*.pyc
**/*.pyc
*.pdf
**/*.pdf
*.pptx
**/*.pptx
*.npy
**/*.npy
*.jpg
**/*.jpg
*.csv
**/*.csv
*.txt
**/*.txt
*.gif
**/*.gif
*.bin
**/*.bin
*.html
**/*.html
*.png
**/*.png
*.zip
**/*.zip
*.docx
**/*.docx
*.tsv
**/*.tsv

